In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')
import gzip

In [16]:
with gzip.open('./data/imdb.title.basics.csv.gz') as f:

    basics= pd.read_csv(f)

basics.shape

(146144, 6)

In [7]:
with gzip.open('./data/imdb.title.ratings.csv.gz') as f:

    ratings= pd.read_csv(f)

ratings.head(10)

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21
5   tt1069246            6.2       326
6   tt1094666            7.0      1613
7   tt1130982            6.4       571
8   tt1156528            7.2       265
9   tt1161457            4.2       148

In [9]:
ratings.columns

Index(['tconst', 'averagerating', 'numvotes'], dtype='object')

In [22]:
merge1 = pd.merge(basics, ratings[['tconst','averagerating']], right_on=None)
merge1

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5
...,...,...,...,...,...,...,...
73851,tt9913084,Diabolik sono io,Diabolik sono io,2019,75.0,Documentary,6.2
73852,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,98.0,"Drama,Family",8.7
73853,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5
73854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,NaN,6.6
73855,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary,6.5

In [23]:
with gzip.open('./data/tn.movie_budgets.csv.gz') as f:

    budget = pd.read_csv(f)

budget.head(10)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"

In [27]:
budget['primary_title'] = budget['movie']

In [28]:
budget.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,primary_title
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",Avatar
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",Pirates of the Caribbean: On Stranger Tides
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",Dark Phoenix
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",Avengers: Age of Ultron
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",Star Wars Ep. VIII: The Last Jedi

In [51]:
gross_genre_df = pd.read_csv('IMDB_scraped.csv')

In [52]:
gross_genre_df.head()

,Unnamed: 0,Movie Title,Gross Revenue (USD),Genre
0,0,Star Wars: Episode VII - The Force Awakens,"$936,662,225","Action, Adventure, Sci-Fi"
1,1,Avengers: Endgame,"$858,373,000","Action, Adventure, Drama"
2,2,Black Panther,"$700,059,566","Action, Adventure, Sci-Fi"
3,3,Avengers: Infinity War,"$678,815,482","Action, Adventure, Sci-Fi"
4,4,Jurassic World,"$652,270,625","Action, Adventure, Sci-Fi"

In [70]:
# renaming the columns 
merge1['Movie Title'] = merge1['primary_title']
merge1['IMDB Rating'] = merge1['averagerating']
merge1['Runtime (min)'] = merge1['runtime_minutes']

In [61]:
merge2 = pd.merge(gross_genre_df[['Movie Title','Gross Revenue (USD)','Genre']],merge1['Movie Title','IMDB Ratin'],on='Movie Title')
merge2

,Unnamed: 0,Movie Title,Gross Revenue (USD),Genre,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,Average IMDB Rating,IMDB Rating
0,0,Star Wars: Episode VII - The Force Awakens,"$936,662,225","Action, Adventure, Sci-Fi",tt2488496,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy",8.0,8.0,8.0
1,1,Avengers: Endgame,"$858,373,000","Action, Adventure, Drama",tt4154796,Avengers: Endgame,Avengers: Endgame,2019,181.0,"Action,Adventure,Sci-Fi",8.8,8.8,8.8
2,2,Black Panther,"$700,059,566","Action, Adventure, Sci-Fi",tt1825683,Black Panther,Black Panther,2018,134.0,"Action,Adventure,Sci-Fi",7.3,7.3,7.3
3,3,Avengers: Infinity War,"$678,815,482","Action, Adventure, Sci-Fi",tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi",8.5,8.5,8.5
4,4,Jurassic World,"$652,270,625","Action, Adventure, Sci-Fi",tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5240,4994,Policeman,"$7,379",Documentary,tt1978447,Policeman,Ha-shoter,2011,105.0,Drama,6.2,6.2,6.2
5241,4995,Big Words,"$7,371","Comedy, Drama",tt2339379,Big Words,Big Words,2013,93.0,"Comedy,Drama",5.9,5.9,5.9
5242,4996,False Confessions,"$7,361","Comedy, Drama",tt8178396,False Confessions,False Confessions,2018,91.0,Documentary,8.3,8.3,8.3
5243,4997,The Dry Land,"$7,351",Drama,tt1322264,The Dry Land,The Dry Land,2010,92.0,Drama,5.6,5.6,5.6
5244,4999,Vision Portraits,"$7,330",Documentary,tt9617506,Vision Portraits,Vision Portraits,2019,78.0,Documentary,7.7,7.7,7.7

In [63]:
df = df.drop_duplicates(subset='Name', keep='first')
print(df)

In [67]:
merge3 = merge2.drop_duplicates(subset='Movie Title',keep='first')
merge3.head(50)

,Unnamed: 0,Movie Title,Gross Revenue (USD),Genre,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,Average IMDB Rating,IMDB Rating
0,0,Star Wars: Episode VII - The Force Awakens,"$936,662,225","Action, Adventure, Sci-Fi",tt2488496,Star Wars: Episode VII - The Force Awakens,Star Wars: Episode VII - The Force Awakens,2015,136.0,"Action,Adventure,Fantasy",8.0,8.0,8.0
1,1,Avengers: Endgame,"$858,373,000","Action, Adventure, Drama",tt4154796,Avengers: Endgame,Avengers: Endgame,2019,181.0,"Action,Adventure,Sci-Fi",8.8,8.8,8.8
2,2,Black Panther,"$700,059,566","Action, Adventure, Sci-Fi",tt1825683,Black Panther,Black Panther,2018,134.0,"Action,Adventure,Sci-Fi",7.3,7.3,7.3
3,3,Avengers: Infinity War,"$678,815,482","Action, Adventure, Sci-Fi",tt4154756,Avengers: Infinity War,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi",8.5,8.5,8.5
4,4,Jurassic World,"$652,270,625","Action, Adventure, Sci-Fi",tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi",7.0,7.0,7.0
5,5,The Avengers,"$623,279,547","Action, Adventure, Sci-Fi",tt0848228,The Avengers,The Avengers,2012,143.0,"Action,Adventure,Sci-Fi",8.1,8.1,8.1
6,7,Incredibles 2,"$608,581,744","Animation, Action, Adventure",tt3606756,Incredibles 2,Incredibles 2,2018,118.0,"Action,Adventure,Animation",7.7,7.7,7.7
7,9,Rogue One: A Star Wars Story,"$532,177,324","Action, Adventure, Sci-Fi",tt3748528,Rogue One: A Star Wars Story,Rogue One,2016,133.0,"Action,Adventure,Sci-Fi",7.8,7.8,7.8
8,11,Beauty and the Beast,"$504,014,165","Family, Fantasy, Musical",tt2316801,Beauty and the Beast,La belle et la bête,2014,112.0,"Drama,Fantasy,Romance",6.4,6.4,6.4
10,12,Finding Dory,"$486,295,561","Animation, Adventure, Comedy",tt2277860,Finding Dory,Finding Dory,2016,97.0,"Adventure,Animation,Comedy",7.3,7.3,7.3
11,14,Avengers: Age of Ultron,"$459,005,868","Action, Adventure, Sci-Fi",tt2395427,Avengers: Age of Ultron,Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi",7.3,7.3,7.3
12,15,The Dark Knight Rises,"$448,139,099","Action, Adventure",tt1345836,The Dark Knight Rises,The Dark Knight Rises,2012,164.0,"Action,Thriller",8.4,8.4,8.4
13,17,Captain Marvel,"$426,829,839","Action, Adventure, Sci-Fi",tt4154664,Captain Marvel,Captain Marvel,2019,123.0,"Action,Adventure,Sci-Fi",7.0,7.0,7.0
14,18,The Hunger Games: Catching Fire,"$424,668,047","Action, Adventure, Mystery",tt1951264,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,2013,146.0,"Action,Adventure,Sci-Fi",7.5,7.5,7.5
15,19,Jurassic World: Fallen Kingdom,"$417,719,760","Action, Adventure, Sci-Fi",tt4881806,Jurassic World: Fallen Kingdom,Jurassic World: Fallen Kingdom,2018,128.0,"Action,Adventure,Sci-Fi",6.2,6.2,6.2
16,20,Toy Story 3,"$415,004,880","Animation, Adventure, Comedy",tt0435761,Toy Story 3,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,8.3,8.3
17,21,Wonder Woman,"$412,563,408","Action, Adventure, Fantasy",tt0451279,Wonder Woman,Wonder Woman,2017,141.0,"Action,Adventure,Fantasy",7.5,7.5,7.5
20,23,Captain America: Civil War,"$408,084,349","Action, Adventure, Sci-Fi",tt3498820,Captain America: Civil War,Captain America: Civil War,2016,147.0,"Action,Adventure,Sci-Fi",7.8,7.8,7.8
21,24,The Hunger Games,"$408,010,692","Action, Adventure, Sci-Fi",tt1392170,The Hunger Games,The Hunger Games,2012,142.0,"Action,Adventure,Sci-Fi",7.2,7.2,7.2
22,25,Jumanji: Welcome to the Jungle,"$404,515,480","Action, Adventure, Comedy",tt2283362,Jumanji: Welcome to the Jungle,Jumanji: Welcome to the Jungle,2017,119.0,"Action,Adventure,Comedy",7.0,7.0,7.0
23,26,Frozen,"$400,738,009","Animation, Adventure, Comedy",tt1323045,Frozen,Frozen,2010,93.0,"Adventure,Drama,Sport",6.2,6.2,6.2
29,28,Guardians of the Galaxy Vol. 2,"$389,813,101","Action, Adventure, Comedy",tt3896198,Guardians of the Galaxy Vol. 2,Guardians of the Galaxy Vol. 2,2017,136.0,"Action,Adventure,Comedy",7.7,7.7,7.7
30,29,Harry Potter and the Deathly Hallows: Part 2,"$381,011,219","Adventure, Drama, Fantasy",tt1201607,Harry Potter and the Deathly Hallows: Part 2,Harry Potter and the Deathly Hallows: Part 2,2011,130.0,"Adventure,Drama,Fantasy",8.1,8.1,8.1
31,30,The Secret Life of Pets,"$368,384,330","Animation, Adventure, Comedy",tt2709768,The Secret Life of Pets,The Secret Life of Pets,2016,87.0,"Adventure,Animation,Comedy",6.5,6.5,6.5
32,31,Despicable Me 2,"$368,061,265","Animation, Adventure, Comedy",tt1690953,Despicable Me 2,Despicable Me 2,2013,98.0,"Adventure,Animation,Comedy",7.4,7.4,7.4
33,32,The Jungle Book,"$364,001,123","Adventure, Drama, Family",tt2226178,The Jungle Book,The Jungle Book,2014,64.0,Animation,7.0,7.0,7.0
35,33,Deadpool,"$363,070,709","Action, Adventure, Comedy",tt1431045,Deadpool,Deadpool,2016,108.0,"Action,Adventure,Comedy",8.0,8.0,8.0
36,34,Inside Out,"$356,461,711","Animation, Adventure, Comedy",tt1640486,Inside Out,Inside Out,2011,93.0,"Crime,Drama",4.6,4.6,4.6
40,35,Aladdin,"$355,559,216","Adventure, Family, Fantasy",tt6139732,Aladdin,Aladdin,2019,128.0,"Adventure,Comedy,Family",7.4,7.4,7.4
41,36,Furious 7,"$353,007,020","Action, Adventure, Crime",tt2820852,Furious 7,Furious Seven,2015,137.0,"Action,Crime,Thriller",7.2,7.2,7.2
42,37,Transformers: Dark of the Moon,"$352,390,543","Action, Adventure, Sci-Fi",tt1399103,Transformers: Dark of the Moon,Transformers: Dark of the Moon,2011,154.0,"Action,Adventure,Sci-Fi",6.2,6.2,6.2
43,38,American Sniper,"$350,126,372","Action, Biography, Drama",tt2179136,American Sniper,American Sniper,2014,133.0,"Action,Biography,Drama",7.3,7.3,7.3
44,39,Zootopia,"$341,268,248","Animation, Adventure, Comedy",tt2948356,Zootopia,Zootopia,2016,108.0,"Adventure,Animation,Comedy",8.0,8.0,8.0
45,40,The Hunger Games: Mockingjay - Part 1,"$337,135,885","Action, Adventure, Sci-Fi",tt1951265,The Hunger Games: Mockingjay - Part 1,The Hunger Games: Mockingjay - Part 1,2014,123.0,"Action,Adventure,Sci-Fi",6.6,6.6,6.6
46,41,Minions,"$336,045,770","Animation, Adventure, Comedy",tt2293640,Minions,Minions,2015,91.0,"Adventure,Animation,Comedy",6.4,6.4,6.4
47,42,Joker,"$335,451,311","Crime, Drama, Thriller",tt1918886,Joker,Joker,2012,104.0,"Comedy,Family,Sci-Fi",2.6,2.6,2.6
53,43,Aquaman,"$335,061,807","Action, Adventure, Fantasy",tt1477834,Aquaman,Aquaman,2018,143.0,"Action,Adventure,Fantasy",7.1,7.1,7.1
54,44,Spider-Man: Homecoming,"$334,201,140","Action, Adventure, Sci-Fi",tt2250912,Spider-Man: Homecoming,Spider-Man: Homecoming,2017,133.0,"Action,Adventure,Sci-Fi",7.5,7.5,7.5
55,45,Alice in Wonderland,"$334,191,110","Adventure, Family, Fantasy",tt1014759,Alice in Wonderland,Alice in Wonderland,2010,108.0,"Adventure,Family,Fantasy",6.5,6.5,6.5
57,46,Guardians of the Galaxy,"$333,176,600","Action, Adventure, Comedy",tt2015381,Guardians of the Galaxy,Guardians of the Galaxy,2014,121.0,"Action,Adventure,Comedy",8.1,8.1,8.1
58,47,Batman v Superman: Dawn of Justice,"$330,360,194","Action, Adventure, Sci-Fi",tt2975590,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,2016,151.0,"Action,Adventure,Fantasy",6.5,6.5,6.5
59,48,It,"$327,481,748",Horror,tt1396484,It,It,2017,135.0,"Horror,Thriller",7.4,7.4,7.4
60,49,Suicide Squad,"$325,100,054","Action, Adventure, Fantasy",tt1386697,Suicide Squad,Suicide Squad,2016,123.0,"Action,Adventure,Fantasy",6.0,6.0,6.0
61,50,Deadpool 2,"$324,591,735","Action, Adventure, Comedy",tt5463162,Deadpool 2,Deadpool 2,2018,119.0,"Action,Adventure,Comedy",7.8,7.8,7.8
62,52,Thor: Ragnarok,"$315,058,289","Action, Adventure, Comedy",tt3501632,Thor: Ragnarok,Thor: Ragnarok,2017,130.0,"Action,Adventure,Comedy",7.9,7.9,7.9
63,53,Iron Man 2,"$312,433,331","Action, Adventure, Sci-Fi",tt1228705,Iron Man 2,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,7.0,7.0
64,54,Skyfall,"$304,360,277","Action, Adventure, Thriller",tt1074638,Skyfall,Skyfall,2012,143.0,"Action,Adventure,Thriller",7.8,7.8,7.8
65,55,The Hobbit: An Unexpected Journey,"$303,003,568","Adventure, Family, Fantasy",tt0903624,The Hobbit: An Unexpected Journey,The Hobbit: An Unexpected Journey,2012,169.0,"Adventure,Family,Fantasy",7.9,7.9,7.9
66,56,The Twilight Saga: Eclipse,"$300,531,751","Adventure, Drama, Fantasy",tt1325004,The Twilight Saga: Eclipse,The Twilight Saga: Eclipse,2010,124.0,"Adventure,Drama,Fantasy",5.0,5.0,5.0
67,57,Harry Potter and the Deathly Hallows: Part 1,"$295,983,305","Adventure, Family, Fantasy",tt0926084,Harry Potter and the Deathly Hallows: Part 1,Harry Potter and the Deathly Hallows: Part 1,2010,146.0,"Adventure,Fantasy,Mystery",7.7,7.7,7.7